a, a:visited, a:active {
    text-decoration: none;
    color: blue;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shopping-list {
    position: absolute;
    background-color: rgba(255,255,255,0.95);
    width: 98%;
    height: 90%;
    left: 0; top: 0; right: 0; bottom: 0;
    border: solid 1px #e2e2e2;
    margin: auto;
    display: none;
    overflow: scroll;
    z-index:2;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    max-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
}

.shoppinglist-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    flex-direction: column;
    height: 100%;
}

.shoppinglist-container div {
    padding: 8px;
}

.week {
    display: flex;
    font-size: 1.75em;
    line-height: 2em;
    justify-content: center;
}

.nextweek {
    display: flex;
    font-size: 1.5em;
    line-height: 2em;
    justify-content: center;
}

.day {
    font-size: 1.6em;
    line-height: 2em;
    width: 98%;
    border: solid 1px #e2e2e2;
    margin-bottom: 3%;
}

.daymini {
    font-size: 1.5em;
    line-height: 1.5em;
    width: 98%;
    border: solid 1px #e2e2e2;
}

.day.selected {
    background: linear-gradient(135deg, #bafdf7, #fcf4ac, #fbb7f3);
    animation: animate 2.5s linear infinite;
}

.day .name, .daymini .name {
    color: #f3f3f3;
    display: inline-block;
    width: 15%;
    background-color: #232323;
    text-align: center;
}

.day .meal, .daymini .meal {
    color: #343434;
}

[data-shopping-selected="true"] .meal:after {content: ' 🛒';}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

