a {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shopping-list {
    position: absolute;
    background-color: rgba(255,255,255,0.95);
    width: 90%;
    height: 90%;
    left: 0; top: 0; right: 0; bottom: 0;
    border: solid 1px #e2e2e2;
    margin: auto;
    font-size: 2em;
    display: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    max-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
}

.shoppinglist-container {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    flex-direction: column;
    height: 100%;
}

.shoppinglist-container div {
    padding: 15px;
}

.week {
    display: flex;
    font-size: 3em;
    line-height: 3.5em;
    justify-content: center;
}

.nextweek {
    display: flex;
    font-size: 2em;
    line-height: 2.5em;
    justify-content: center;
}

.day {
    font-size: 3em;
    line-height: 3.5em;
    width: 90%;
    border: solid 1px #e2e2e2;
    margin-bottom: 3%;
}

.daymini {
    font-size: 2em;
    line-height: 2em;
    width: 90%;
    border: solid 1px #e2e2e2;
    margin-bottom: 3%;
}

.day.selected {
    background-color: #c1ebff;
}

.day .name, .daymini .name {
    color: #767676;
    display: inline-block;
    width: 10%;
    background-color: #f3f3f3;
    text-align: center;
    padding: 0px 15px;
}

.day .meal, .daymini .meal {
    color: #343434;
}

[data-shopping-selected="true"] .meal:after {content: ' 🛒';}

