html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

section.header {

    color: white;
    font-size: 1.5rem;
    background-color: #bafdf7;
    border-bottom: solid 1px #93c7c3;

    & div {
        margin: auto;
        display: grid;
        grid-template-columns: 30% 40% 30%;
        max-width: 1024px;
        height: 80px;
        text-align: center;
        align-items: center;

        a {
            text-decoration: none;
        }

        & span:first-of-type {
            text-align: left;
            padding-left: 10px;
        }

        & span:last-of-type {
            text-align: right;
            padding-right: 10px;
        }
    }
}

section.header section.header a,
a:visited,
a:active {
    text-decoration: none;
    color: blue;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.shopping-list {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.95);
    width: 98%;
    height: 90%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border: solid 1px #e2e2e2;
    margin: auto;
    display: none;
    overflow: scroll;
    z-index: 2;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
    max-width: 1024px;
    font-family: Arial, Helvetica, sans-serif;
}

.shoppinglist-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    flex-direction: column;
    height: 100%;
}

.shoppinglist-container div {
    padding: 8px;
}

.week {
    display: flex;
    font-size: 1.5em;
    line-height: 2em;
    justify-content: center;
}

.nextweek {
    display: flex;
    font-size: 1.5em;
    line-height: 2em;
    justify-content: center;
}

#calendar-container {
    height: 90%
}

#recipie-container {
    margin: auto;
    max-width: 1024px;
    font-size: 1.3em;
    line-height: 2em;

    & ul {
        margin-left: 5%;
        margin-top: 5%;
    }
}

.day {
    border-bottom: solid 1px #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-heading {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    font-size: 2rem;
    align-content: center;
    border-bottom: solid 1px #e3e3e3;
    font-weight: bold;
    font-style: ;

    & a {
        text-decoration: none;
    }
}

.day-wrapper {
    min-width: 100%;
    display: grid;
    height: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    margin: auto;
    font-size: 1.5em;
    line-height: 1.5em;
}

.day.selected {
    background: linear-gradient(135deg, #bafdf7, #fcf4ac, #fbb7f3);
    animation: animate 2.5s linear infinite;
}

.day .name {
    color: #f3f3f3;
    width: 15%;
    background-color: #232323;
    text-align: center;
}

.day .meal {
    color: #343434;
}

[data-shopping-selected="true"] .meal:after {
    content: ' 🛒';
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}